<!-- sidemenu  -->
<div class="col-sm-2" style="margin-top:30px; margin-left:50px">
    <form action="search" method="get">
        <h4>種類</h4>

        <div style="margin:5px">
            <!--    東部欄位     -->
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat1">
                    <input type="checkbox" class="form-check-input" id="check_cat1" name="title" value="1">音樂表演
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat2">
                    <input type="checkbox" class="form-check-input" id="check_cat2" name="title" value="2">戲劇表演
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat3">
                    <input type="checkbox" class="form-check-input" id="check_cat3" name="title" value="3">舞蹈表演
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat4">
                    <input type="checkbox" class="form-check-input" id="check_cat4" name="title" value="4">親子活動
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat5">
                    <input type="checkbox" class="form-check-input" id="check_cat5" name="title" value="5">獨立音樂
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat6">
                    <input type="checkbox" class="form-check-input" id="check_cat6" name="title" value="6">展覽資訊
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat7">
                    <input type="checkbox" class="form-check-input" id="check_cat7" name="title" value="7">講座資訊
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat8">
                    <input type="checkbox" class="form-check-input" id="check_cat8" name="title" value="8">電影
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat11">
                    <input type="checkbox" class="form-check-input" id="check_cat11" name="title" value="11">綜藝活動
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat13">
                    <input type="checkbox" class="form-check-input" id="check_cat13" name="title" value="13">競賽活動
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat14">
                    <input type="checkbox" class="form-check-input" id="check_cat14" name="title" value="14">徵選活動
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat15">
                    <input type="checkbox" class="form-check-input" id="check_cat15" name="title" value="15">其他藝文資訊
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat17">
                    <input type="checkbox" class="form-check-input" id="check_cat17" name="title" value="17">演唱會
                </label>
            </div>
<!--
            <div class="form-check-inline">
                <label class="form-check-label" for="check_cat19">
                    <input type="checkbox" class="form-check-input" id="check_cat19" name="title" value="19">文化部研習課程
                </label>
            </div>
-->
        </div>

        <h4>地區</h4>

        <div style="margin:5px">
            <!--    北部欄位     -->

            <div class="form-check-inline north">
                <label class="form-check-label north" for="checkN1">
                    <input type="checkbox" class="form-check-input" id="checkN1" name="district" value="台北">台北
                </label>
            </div>
            <div class="form-check-inline north">
                <label class="form-check-label north" for="checkN2">
                    <input type="checkbox" class="form-check-input" id="checkN2" name="district" value="新北">新北
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkN3">
                    <input type="checkbox" class="form-check-input" id="checkN3" name="district" value="桃園">桃園
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkN4">
                    <input type="checkbox" class="form-check-input" id="checkN4" name="district" value="新竹">新竹
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkN6">
                    <input type="checkbox" class="form-check-input" id="checkN6" name="district" value="基隆">基隆
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkN7">
                    <input type="checkbox" class="form-check-input north" id="checkN7" name="district" value="宜蘭">宜蘭
                </label>
            </div>

            <!--    中部欄位     -->
            <div class="form-check-inline">
                <label class="form-check-label" for="checkW1">
                    <input type="checkbox" class="form-check-input" id="checkW1" name="district" value="台中">台中
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkW2">
                    <input type="checkbox" class="form-check-input" id="checkW2" name="district" value="彰化">彰化
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkW3">
                    <input type="checkbox" class="form-check-input" id="checkW3" name="district" value="苗栗">苗栗
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkW4">
                    <input type="checkbox" class="form-check-input" id="checkW4" name="district" value="雲林">雲林
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkW5">
                    <input type="checkbox" class="form-check-input" id="checkW5" name="district" value="南投">南投
                </label>
            </div>

            <!--    南部欄位     -->
            <div class="form-check-inline">
                <label class="form-check-label" for="checkS1">
                    <input type="checkbox" class="form-check-input" id="checkS1" name="district" value="高雄">高雄
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkS2">
                    <input type="checkbox" class="form-check-input" id="checkS2" name="district" value="台南">台南
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkS3">
                    <input type="checkbox" class="form-check-input" id="checkS3" name="district" value="嘉義">嘉義
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkS5">
                    <input type="checkbox" class="form-check-input" id="checkS5" name="district" value="屏東">屏東
                </label>
            </div>

            <!--    東部欄位     -->

            <div class="form-check-inline">
                <label class="form-check-label" for="checkE1">
                    <input type="checkbox" class="form-check-input" id="checkE1" name="district" value="花蓮">花蓮
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkE2">
                    <input type="checkbox" class="form-check-input" id="checkE2" name="district" value="台東">台東
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkE3">
                    <input type="checkbox" class="form-check-input" id="checkE3" name="district" value="金門">金門
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkE4">
                    <input type="checkbox" class="form-check-input" id="checkE4" name="district" value="澎湖">澎湖
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="checkE5">
                    <input type="checkbox" class="form-check-input" id="checkE5" name="district" value="連江">連江
                </label>
            </div>

        </div>
        <h4>時間</h4>
        <div style="margin:5px">

            <div class="form-row">
                <div class="form-group" style="margin-right:10px">
                    <label for="select_start_month">開始月份</label>
                    <select class="form-control" id="select_start_month" name="start_month">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="select_start_day">開始日期</label>
                    <select class="form-control" id="select_start_day" name="start_day">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" style="margin-right:10px">
                    <label for="select_end_month ">結束月份</label>
                    <select class="form-control" id="select_end_month" name="end_month">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="select_end_day">結束日期</label>
                    <select class="form-control" id="select_end_day" name="end_day">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    </select>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">搜尋</button>
        </div>
    </form>
</div>
<!-- //sidemenu  -->
