@font-face {
    font-family: 'oxxo';
    src:
        url(../fonts/TaipeiSansTCBeta-Regular.ttf)  format('truetype'),
        url(../fonts/GenJyuuGothicL-Monospace-Regular.ttf)  format('truetype') ,
        local("Arial");
}

@font-face {
    font-family: 'SentyTang';
    src:
        url(../fonts/SentyTang.ttf)  format('truetype'),
        url(../fonts/TaipeiSansTCBeta-Regular.ttf)  format('truetype'),
        url(../fonts/GenJyuuGothicL-Monospace-Regular.ttf)  format('truetype') ,
        local("Arial");
}

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.main_title{
    font-family: 'SentyTang', 'Noto Sans TC', '微軟正黑體',  sans-serif;
    font-size: 400%;
}


.query_title {
    font-family: 'SentyTang';
}

.navbar {
    font-family: 'SentyTang';
    font-size: 150%;
}

.navbar-brand {
    font-family: 'SentyTang';
    font-size: 150%;
}
